h1 {
  font-size: 400px;
}
.hero {
  height: 100vh;
}
.hero .scrollBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: pulse alternate 1s infinite;
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
}
@keyframes pulse {
  0% {
    color: var(--secondary);
    transform: translateY(0);
  }
  100% {
    color: var(--primary);
    transform: translateY(-10px);
  }
}
.title_right {
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}
.title_right h1:hover {
  cursor: url("../../assets//cursoryellow.png"), auto;
}
.title_left {
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
}
.title_left h1:hover {
  cursor: url("../../assets//cursoryellow.png"), auto;
}

@media (max-width: 1300px) {
  h1 {
    font-size: 300px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 100px;
  }
}
