* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --primary: #fef4dd;
  --secondary: #353b57;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #353b57ea;
}
/* img {
  max-width: 100%;
  height: auto;
} */

html,
body {
  cursor: url("../assets/cursorblue.png"), auto;
  background-color: var(--primary);
  font-family: "Open Sans", sans-serif;
}

li,
a {
  text-decoration: none;
  list-style: none;
}

button {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary);
  font-family: "Yeseva One", cursive;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6:hover {
  cursor: url("../assets/cursoryellow.png"), auto;
}
