.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
  height: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.navbar a {
  color: var(--secondary);
}

.disabled-link {
  pointer-events: none;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar li {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}
.navbar li .btn {
  margin-left: -30px;
}

form {
  position: relative;
  width: 20rem;
  background: var(--secondary);
  border-radius: var(--rad);
}

input,
button {
  height: 40px;
  border: 0;
}

input[type="search"] {
  font-family: "Open Sans", sans-serif;
  outline: 0;
  width: 100%;
  background: var(--primary);
  border: 1px solid var(--secondary);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--secondary);
  border-radius: 0 var(--rad) var(--rad) 0;
  color: var(--primary);
  cursor: pointer;
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }
}
