* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f8ecc2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #484d6d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #484d6dcc;
}
/* img {
  max-width: 100%;
  height: auto;
} */

html,
body {
  cursor: url("./assets/cursorblue.png"), auto;
  background-color: #f8ecc2;
  font-family: "Open Sans", sans-serif;
}

li,
a {
  text-decoration: none;
  list-style: none;
}

button {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #484d6d;
  font-family: "Yeseva One", cursive;
  font-weight: 400;
}
